footer.footer
  div(class="footer-clean")
    div(class="container")
      div(class="row justify-content-center")
        div(class="col-sm-4 col-md-3 item")
          ul
            li
              a(href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none")
                img(src='/img/logo1.png' class="logo" alt='Allium logo')

        div(class="col-sm-4 col-md-3 item")
          h3 Про нас
          ul
            li: a(href="#") Компанія
            li: a(href="#") Автор
            li: a(href="#") Контакти
        div(class="col-sm-4 col-md-3 item")
          h3 Кар'єра
          ul
            li: a(href="#") Документи
            li: a(href="#") Вакансії
            li: a(href="#") Переваги

        div(class="col-lg-3 item social")
          a(href="#"): i(class="icon ion-social-facebook")
          a(href="#"): i(class="icon ion-social-twitter")
          a(href="#"): i(class="icon ion-social-snapchat")
          a(href="#"): i(class="icon ion-social-instagram")
          p(class="copyright") © Маковська Ольга ІПЗ-19-1 2021 р