extends base
block content
  button(type="button" class="slick-prev") Previous
  div(class="gallery-single")
    div: img(src="/img/banner/1.jpg", alt="gallery")
    div: img(src="/img/banner/2.jpg", alt="gallery")
    div: img(src="/img/banner/3.jpg", alt="gallery")
    div: img(src="/img/banner/5.jpg", alt="gallery")
    div: img(src="/img/banner/6.jpg", alt="gallery")
  div(class="row g-5 blog")
    div#aboutAllium(class="col-md-8")
      article(class="blog-post")
        h2(class="blog-post-title index-title") Інтернет-магазин одягу Allium
        hr
        p Allium - інтернет-магазин жіночого, чоловічого та дитячого одягу, взуття та аксесуарів - все це Ви можете придбати не виходячи з дому. Вибирайте з більш ніж 350 оригінальних світових брендів і створюйте cвій власний неповторний look. Спеціально для Вас ми зібрали в одному місці преміальні бренди, спортивні бренди і популярні бренди lifestyle, а також багато, багато інших !
        h3(class="index-title") Про наші товари
        p У кожній категорії Ви знайдете все необхідне. Ми підготували для Вас сукні всіх можливих моделей і кольорів, модні джинси для жінок і чоловіків, зручні толстовки, легінси і спортивний одяг, теплі куртки на зиму і легкі пальта на весну, різні моделі взуття - від жіночних туфель на високих підборах до ugly shoes і повсякденного спортивного взуття. Також безліч аксесуарів: сумочки, рюкзаки, шапки, рукавички, шарфи і корисні гаджети.
        h3(class="index-title") Продаж
        p В інтернет-магазині можна купити оптом чи вроздріб все, що необхідно для створення унікального образу. Один товар можна знайти в десятках різних варіантів за кольором, розміром, крою та ціною.
        p Ми здійснюємо доставку в усі куточки України. Замовити одяг для жінок будь-якого обсягу легко. Замовлення протягом трьох днів буде вручений особисто в руки, що дуже зручно для тих, хто вважає за краще здійснювати покупки онлайн. Доставка в інші країни здійснюється довше, але замовлення і отримання не стануть для вас проблемою.
    div(class="col-md-4")
      div(class="position-sticky" style="top: 2rem;")
        div(class="p-4 mb-3 bg-light rounded")
          p#demotext Створи власний стиль разом з Allium
