extends base
block content
    div(class="row g-5 product")
        div(class="col-md-8")
        div(class="product-body")
            h2(class="blog-post-title index-title")= product.name
            hr
            p= product.description
            p= product.categories